<table class="table table-bordered clear fixedTable summaryDetails computeTable analyzeGrid">
    <thead>
        <tr>
            <th (click)="sort($event,'CaseNumber')">
                Case Number
                <i class="fa" [ngClass]="{'fa-sort': column != 'CaseNumber', 'fa-sort-asc': (column == 'CaseNumber' && isDesc), 'fa-sort-desc': (column == 'CaseNumber' && !isDesc) }"
                    aria-hidden="true"> </i>
            </th>
            <th (click)="sort($event,'CreatedDate')">
                Created Date
                <i class="fa" [ngClass]="{'fa-sort': column != 'CreatedDate', 'fa-sort-asc': (column == 'CreatedDate' && isDesc), 'fa-sort-desc': (column == 'CreatedDate' && !isDesc) }"
                    aria-hidden="true"> </i>
            </th>
            <th (click)="sort($event,'ClosedDate')">
                Closed Date
                <i class="fa" [ngClass]="{'fa-sort': column != 'ClosedDate', 'fa-sort-asc': (column == 'ClosedDate' && isDesc), 'fa-sort-desc': (column == 'ClosedDate' && !isDesc) }"
                    aria-hidden="true"> </i>
            </th>
            <th (click)="sort($event,'Description')">
                Description
                <i class="fa" [ngClass]="{'fa-sort': column != 'Description', 'fa-sort-asc': (column == 'Description' && isDesc), 'fa-sort-desc': (column == 'Description' && !isDesc) }"
                    aria-hidden="true"> </i>
            </th>
        </tr>
        <tr>
            <th colspan="4" *ngIf="caseList.length < 1" class="italic-font">
                No Data Found
            </th>
        </tr>
    </thead>
    <tbody *ngFor="let case of caseList | orderBy: {property: column, direction: direction}">
        <tr>
            <td>{{case._source.CaseNumber}}</td>
            <td>{{case._source.CreatedDate | date: 'dd/MM/yyyy'}}</td>
            <td>{{case._source.ClosedDate | date: 'dd/MM/yyyy'}}</td>
            <td class="ellipsis" [title]="case._source.Description">{{case._source.Description}}</td>
        </tr>
    </tbody>
</table>

<div class="pagination" *ngIf="caseList.length > 1">
    <a href="javascript:void(0)" (click)="loadPage('prev')">&laquo;</a>
    <a [ngClass]="{active : (listAttr.index/listAttr.size)+1 === 1}" href="javascript:void(0)" (click)="loadPage(1)">1</a>
    <a [ngClass]="{active : (listAttr.index/listAttr.size)+1 === 2}" href="javascript:void(0)" (click)="loadPage(2)">2</a>
    <a [ngClass]="{active : (listAttr.index/listAttr.size)+1 === 3}" href="javascript:void(0)" (click)="loadPage(3)">3</a>
    <a [ngClass]="{active : (listAttr.index/listAttr.size)+1 === 4}" href="javascript:void(0)" (click)="loadPage(4)">4</a>
    <a [ngClass]="{active : (listAttr.index/listAttr.size)+1 === 5}" href="javascript:void(0)" (click)="loadPage(5)">5</a>
    <a [ngClass]="{active : (listAttr.index/listAttr.size)+1 === 6}" href="javascript:void(0)" (click)="loadPage(6)">6</a>
    <a href="javascript:void(0)" (click)="loadPage('next')">&raquo;</a>
</div>
